html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata';
  background-color: var(--background-color);
}

:root {
  /* COLORS */
  --background-color: #f1efed;
  --accent-color: #5e68cf;
  --text-color-secondary: #807f7e;
  --text-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}
