.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: none none solid none;
  border-width: 1px;
}

.logo {
  padding: 1.5em;
  letter-spacing: 0.3em;
  border-style: none solid none none;
  border-width: 1px;
  cursor: pointer;
}

/* TODO: Consolidate these over statuses */
.logo:hover {
  color: var(--text-color-secondary);
}

.navContainer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1.5em;
  padding-right: 1.5em;
  border-style: none none none solid;
  border-width: 1px;
  margin: 0px;
}

.navItem {
  letter-spacing: 0.1em;
  cursor: pointer;
}

.navItem:hover {
  color: var(--text-color-secondary);
}
